@import '../../color/maincolor.less';
.block-page,.blockinfo-page{
    width: 10.88rem;
    min-width: 1088px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 1.38rem;
    margin-bottom: 1rem;
}
.blockinfo-page{
    .goback-wrapper{
        overflow: hidden;
        .goback-text{
            display: block;
            background: #5F86FB;
            box-shadow: 0 2px 4px 0 rgba(95,141,251,0.50);
            border-radius: 3px;
            width: 1.2rem;
            height: 30px;
            text-align: center;
            color: @text-fff;
            line-height: 30px;
            margin-bottom: 20px;
            float: right;
        }
    }
    
}