@import '../../color/maincolor.less';
.block-page,.blockinfo-page{
    width: 10.88rem;
    min-width: 1088px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: .8rem;
    margin-bottom: 1rem;
    
}
.block-page{
    .block-table{
        background:@text-fff;
        box-shadow: 0 2px 10px 0 rgba(185,185,185,0.50);
        border-radius: 3px; 
    }
}
.blockinfo-page{
    .blockinfo-tran-table{
        background:@text-fff;
        box-shadow: 0 2px 10px 0 rgba(185,185,185,0.50);
        border-radius: 3px; 
    }
}
