@import '../../color/maincolor.less';
.asset-page,.assetinfo-page{
    width: 10.88rem;
    min-width: 1088px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 1.38rem;
    margin-bottom: 1rem;
}
.asset-page{
    .asset-table,.nep5-table{
        background:@text-fff;
        box-shadow: 0 2px 10px 0 rgba(185,185,185,0.50);
        border-radius: 3px; 
    }
}